/* Contenedor principal del layout */
.pagina {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 70px 1fr auto;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    min-height: 100vh;
}

/* Menú */
header { 
    grid-area: header; 
    background-color: #1E293B; 
    color:white;
    padding:20px; 
    border-radius: 6px;
}

/* Barra lateral */
nav { 
    grid-area: nav;
    background-color: #F5F1E8;
    padding: 20px;
    border-right: 1px solid #d1d3d6;
}

/* Espacio principal dónde irá el contenido */
main { 
    grid-area: main;
    padding:20px; 
    background-color: #F5F1E8;
}

/* Barra inferior */
footer { 
    grid-area: footer;
    background-color: #1E293B;
    color:white;
    padding:15px;
    text-align:center; 
    position: fixed;  /* esto es para que el contenido no arrastre la barra hacia abajo */
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center; 
    justify-content: space-between;
}

/* Clase que almacena el menú del header */
.contenedor {
    display: flex;
    justify-content:space-around;
    font-size:150%;
    align-items: center;

}

/* Estilo para los links */
.item a {
    text-decoration: none; 
    color: inherit;
}

/* Imagen dentro del contenedor foto */
.foto img {
    width: 100%;
    height: auto;
}

/* Grid que almacena las tarjetas con su información */
.tarjetas {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 65% 65%;
    gap: 30px;
    padding: 10px;
    margin-top: 15px;
}

/* Estilos de las etiquetas */
.resumen {
    background-color: #D97706; 
    color: white;
    border-radius: 6px;
    text-align: center;
    padding-top: 5%;
}

/* Enlaces dentro de resumen sin estilo */
.resumen a {
    text-decoration: none; 
    color: inherit;
}

/* Título centrados */
.titulo {
    text-align: center;
}

/* Estilo de otro título */
.titulo2 {
    margin-top: 45px;
    text-align: center;
}

/* Estilo de otro título */
.titulo3 {
    margin-top: 45px;
    text-align: center;
}

/* Grid que almacena las tarjetas con su información */
.tarjetas2 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 55% 55%;
    gap: 20px;
    padding: 10px;
    margin-top: 40px;
}

/* Hace que el texto de una tarjeta no llegue al límite */
.texto {
    padding: 10px;
}

/* Grid que almacena las tarjetas con su información */
.tarjetas3 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 10px;
}

/* Estilos de las etiquetas de competencias */
.competencias {
    background-color:#D97706;
    color: white;
    border-radius: 4px;
    text-align: center;
}

/* Contenedor principal del footer */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor de enlaces/iconos */
.links {
    display: flex;
    gap: 15px;
    text-align: right;
    align-items: center;
}

/* Tamaño de iconos */
.links img {
    width: 50px;
    height: 50px;
}

/* Estilos del h1 */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: #1E293B;
    letter-spacing: 1px;
}