.pagina {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 70px 1fr auto;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    min-height: 100vh;
}

header { 
    grid-area: header; 
    background-color: #1E293B; 
    color:white;
    padding:20px; 
    border-radius: 6px;
}

nav { 
    grid-area: nav;
    background-color: #F5F1E8;
    padding: 20px;
    border-right: 1px solid #d1d3d6;
}

main { 
    grid-area: main;
    padding:20px; 
    background-color: #F5F1E8;
}

footer { 
    grid-area: footer;
    background-color: #1E293B;
    color:white;
    padding:15px;
    text-align:center; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center; 
    justify-content: space-between;
}

.contenedor {
    display: flex;
    justify-content:space-around;
    font-size:150%;
    align-items: center;

}

.item a {
    text-decoration: none; 
    color: inherit;
}

.item a:hover {
    color: #1F2937;
}

.foto img {
    width: 100%;
    height: auto;
}

.tarjetas {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 65% 65%;
    gap: 30px;
    padding: 10px;
    margin-top: 15px;
}

.resumen {
    background-color: #D97706;
    color: white;
    border-radius: 6px;
    text-align: center;
    padding-top: 5%;
}

.resumen a {
    text-decoration: none; 
    color: inherit;
}

.titulo {
    text-align: center;
}

.titulo2 {
    margin-top: 45px;
    text-align: center;
}

.titulo3 {
    margin-top: 45px;
    text-align: center;
}

.tarjetas2 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 55% 55%;
    gap: 20px;
    padding: 10px;
    margin-top: 40px;
}

.texto {
    padding: 10px;
}

.tarjetas3 {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 10px;
}

.competencias {
    background-color:#D97706;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 15px;
    text-align: right;
    align-items: center;
}

.links img {
    width: 50px;
    height: 50px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    color: #1E293B;
    letter-spacing: 1px;
}